.featured {
  height: 100vh;
}

.featured--vertical {
  width: inherit;
  height: inherit;
  background: linear-gradient(to top, #111 2%, transparent 10%);
}

.featured--horizontal {
  width: inherit;
  height: inherit;
  background: linear-gradient(to right, #111 15%, transparent 80%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 30px;
  padding-bottom: 150px;
  padding-top: 70px;
}

.featured--name {
  font-size: 60px;
  font-weight: bold;
  max-width: 55%;
}

.featured--info {
  font-size: 18px;
  margin-top: 15px;
  margin-right: 15px;
}

.featured--points,
.featured--year,
.featured--seasons {
  display: inline-block;
  margin-right: 15px;
}

.featured--points {
  color: #46d369;
}

.featured--description {
  margin-top: 15px;
  font-size: 20px;
  max-width: 40%;
}

.featured--buttons {
  margin-top: 15px;
}

.featured--watchButton,
.featured--myList {
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  padding: 12px 25px;
  border-radius: 5px;
  text-decoration: none;
  margin-right: 10px;
  filter: brightness(100%);
  transition: all ease 0.2s;
}

.featured--watchButton:hover,
.featured--myList:hover {
  filter: brightness(80%);
}

.featured--watchButton {
  background-color: white;
  color: black;
}

.featured--myList {
  background-color: #333;
  color: white;
}

.featured--genres {
   margin-top: 15px;
   font-size: 18px;
   color: rgb(210, 207, 207);
  }