@media (max-width: 760px) {
  .movieRow--left,
  .movieRow--right {
    position: absolute;
    width: 40px;
    height: 225px;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
    opacity: 1;
    transition: all ease 0.5s;
  }
}

@media (min-width: 761px) {
  .movieRow--left,
  .movieRow--right {
    position: absolute;
    width: 40px;
    height: 225px;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
    opacity: 0;
    transition: all ease 0.5s;
  }

  .movieRow:hover .movieRow--left {
    opacity: 1;
  }
  
  .movieRow:hover .movieRow--right {
    opacity: 1;
  }
}

.movieRow {
  margin-bottom: 30px;
}

.movieRow h2 {
  margin: 0px 0px 0px 30px;
}

.movieRow--listarea {
  overflow-x: hidden;
  margin: 0px 0px 0px 30px;
}

.movieRow--list {
  transition: all ease 0.5s;
}

.movieRow--item {
  display: inline-block;
  width: 150px;

  cursor: pointer;
}

.movieRow--item img {
  width: 100%;
  transform: scale(0.96);
  transition: all ease 0.2s;
}

.movieRow--item img:hover {
  transform: scale(1);
}

.movieRow--left {
  left: 0;
}

.movieRow--right {
  right: 0;
}


