@font-face {
  font-family: "Netflix Sans";
  font-weight: 100;
  font-display: optional;
  src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Th.woff2)
      format("woff2"),
    url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Th.woff)
      format("woff");
}

@font-face {
  font-family: "Netflix Sans";
  font-weight: 300;
  font-display: optional;
  src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Lt.woff2)
      format("woff2"),
    url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Lt.woff)
      format("woff");
}

@font-face {
  font-family: "Netflix Sans";
  font-weight: 400;
  font-display: optional;
  src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Rg.woff2)
      format("woff2"),
    url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Rg.woff)
      format("woff");
}

@font-face {
  font-family: "Netflix Sans";
  font-weight: 700;
  font-display: optional;
  src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Md.woff2)
      format("woff2"),
    url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Md.woff)
      format("woff");
}

@font-face {
  font-family: "Netflix Sans";
  font-weight: 800;
  font-display: optional;
  src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Bd.woff2)
      format("woff2"),
    url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Bd.woff)
      format("woff");
}

@font-face {
  font-family: "Netflix Sans";
  font-weight: 900;
  font-display: optional;
  src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Blk.woff2)
      format("woff2"),
    url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Blk.woff)
      format("woff");
}

* {
  box-sizing: border-box;
}

body {
  background-color: #141414;
  color: #fff;
  margin: 0;

  font-family: "Netflix Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
